# App
SLEEP_AFTER_MINUTES=10# to disable set to -1
ENVIRONMENT=development/production
PORT=3001
JWT_SECRET="secret that is used to sign tokens"

# seed.js
FIRST_USER_USERNAME=seed
FIRST_USER_PASSWORD=password

# Database
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=db_name
