@use 'sass:color';

// Text styling
$h1-small-screen: 2rem;
$h5-small-screen: 1.1rem;
$text-border: 1px 0px 1px black;

// Color theme
$color-main: #120b49;
$color-main-transparent: rgba($color-main, 0.97);
$color-aux: #594eea;
$color-aux-2: #3a3877;

// Server list/table
//$table-color-main: rgba(39, 29, 103, 0.97);
$table-color-main: color.adjust($color-main-transparent, $saturation: -15%, $hue: 3deg, $lightness: 8%);

$table-color-background: color.adjust($table-color-main, $hue: 1deg, $lightness: 18%);
$table-color-background-nth: color.adjust($table-color-main, $hue: -2deg, $lightness: 15%);
$table-color-header-background: $table-color-main;
$table-color-header-background-nth: color.adjust($table-color-main, $lightness: 5%);
$table-color-border: color.adjust($table-color-main, $hue: -7deg, $lightness: 32%);

// Striped list
$list-color-background: color.adjust($color-main-transparent, $saturation: -10%, $hue: 14deg, $lightness: 20%);
$list-color-background-nth: color.adjust($list-color-background, $lightness: 10%);

// Path to images, etc.
$backgrounds-path: "/background/";

// Gradients applied with `background-image:`
$linear-gradient-top: linear-gradient(180deg, rgba(255, 255, 255, .04), rgba(255, 255, 255, 0));
$linear-gradient-bottom: linear-gradient(0deg, rgba(255, 255, 255, .04), rgba(255, 255, 255, 0));